.login_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login_form input {
    padding: 0px 15px;
    border-radius: 12px;
    outline: none;
    font-size: 16px;
    width: 300px;
    height: 40px;
    border: 1px solid #000;

    transition: border 0.3s ease;
}

.login_form input:focus {
    border: 1px solid #333333;
}

.login_button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transform: scale(1);

    transition: background-color 0.3s ease, transform 0.3s ease;
}
.login_button:hover {
    background-color: #333;
    transform: scale(1.05);
}