.input_modal_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
}
.input_modal_open {
    opacity: 1;
}
.input_modal_closed {
    opacity: 0;
    pointer-events: none;
}

.input_modal_container {
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.input_modal_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_modal_body {
    display: flex;
    justify-content: flex-start;
}
.input_modal_body input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
}

.input_modal_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.input_modal_footer button {
    font-size: 14px;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.input_modal_footer button:hover {
    
}