.progress_container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    max-height: 200px;
    overflow-y: auto;

    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}

.progress_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}